body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

header {
    grid-column: 1fr;
    grid-row: 1 / -1;
}

header > img {
    position: relative;
    object-fit: cover;
    min-height: 100%;
    width: 33vw;
    z-index: -1;
}

.logo-header {
    display: flex;
    position: absolute;
    top: 30%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.2);
}